<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="message">
      <h2 data-cy="messageDetailsHeading"><span jhiTranslate="stuffExchangeApp.message.detail.title">Message</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ message.id }}</span>
        </dd>
        <dt><span jhiTranslate="stuffExchangeApp.message.title">Title</span></dt>
        <dd>
          <span>{{ message.title }}</span>
        </dd>
        <dt><span jhiTranslate="stuffExchangeApp.message.content">Content</span></dt>
        <dd>
          <span>{{ message.content }}</span>
        </dd>
        <dt><span jhiTranslate="stuffExchangeApp.message.read">Read</span></dt>
        <dd>
          <span>{{ message.read }}</span>
        </dd>
        <dt><span jhiTranslate="stuffExchangeApp.message.isDelete">Is Delete</span></dt>
        <dd>
          <span>{{ message.isDelete }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/message', message.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
