<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="category">
      <h2 data-cy="categoryDetailsHeading"><span jhiTranslate="stuffExchangeApp.category.detail.title">Category</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ category.id }}</span>
        </dd>
        <dt><span jhiTranslate="stuffExchangeApp.category.name">Name</span></dt>
        <dd>
          <span>{{ category.name }}</span>
        </dd>
        <dt><span jhiTranslate="stuffExchangeApp.category.description">Description</span></dt>
        <dd>
          <span>{{ category.description }}</span>
        </dd>
        <dt><span jhiTranslate="stuffExchangeApp.category.thumbnail">Thumbnail</span></dt>
        <dd>
          <span>{{ category.thumbnail }}</span>
        </dd>
        <dt><span jhiTranslate="stuffExchangeApp.category.active">Active</span></dt>
        <dd>
          <span>{{ category.active }}</span>
        </dd>
        <dt><span jhiTranslate="stuffExchangeApp.category.categoryFile">Category File</span></dt>
        <dd>
          <div *ngIf="category.categoryFile">
            <a [routerLink]="['/file', category.categoryFile?.id, 'view']">{{ category.categoryFile?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/category', category.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
